@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-display: 'Fraunces', serif;
    --font-sans: 'IBM Plex Sans', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
  }
  body {
    background-color: #EEF0EC;
    color: #1B1D1F;
    font-family: var(--font-sans);
  }
}